* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  font-size: 15px;
  --primary-color: #2c1676;
}

.mainNav {
  display: flex;
  flex-direction: row;
  height: 10vh;
  background-color: #222;
  align-items: center;
  justify-content: space-between;
  padding: 0 15%;
  z-index: 1000;
  position: sticky;
  top: 0;
}

.nav_left {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.nav_left .nav_logo {
  max-height: 30%;
  margin-right: 3rem;
}

.nav_left .nav_list {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav_list a {
  display: flex;
  width: auto;
  min-width: fit-content;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

.nav_left a li {
  transition: transform 0.2s ease-in-out;
}

.nav_list a:hover > * {
  transform: scale(1.25);
}

.nav_list a:hover {
  background-color: #333;
}

.nav_right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_right img {
  max-height: 2vh;
  margin-left: 1rem;
}

.container {
  width: 70%;
  background-color: red;
  height: 250px;
  margin: 0 auto;
}

.landing_home {
  width: 100%;
  min-height: 100vh;
  padding: 0 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.landing_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
}

.landing_left h2 {
  margin: 1rem 0 2rem 0;
  font-size: 2rem;
  font-weight: 300;
  width: 90%;
  color: #333;
}

.landing_CTA {
  border: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  width: 60%;
  border-radius: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #f1f1f1;
}

.landing_right {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
}

.landing_right img {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}
