/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  --primary-color: #2c1676;
  --primary-darkest: #111;
  --primary-dark: #222;
  --primary-regular: #333;
  --primary-light: #f1f1f1;
  --accent-color: #77a5ff;
  --usluge_box_shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
  --font-thin: 300;
  --font-regular: 400;
  --font-bold: 700;
}

.certusCon {
  font-size: inherit;
  font-weight: inherit;
  color: var(--primary-color);
  text-transform: uppercase;
}

/* ------------- NAVBAR -------------  */

.mainNav {
  display: flex;
  flex-direction: row;
  height: 10vh;
  background-color: var(--primary-dark);
  align-items: center;
  justify-content: space-between;
  padding: 0 15%;
  z-index: 1000;
  position: sticky;
  top: 0;
}

.nav_left {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.nav_left .nav_logo {
  max-height: 30%;
  margin-right: 3rem;
}

.nav_list {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav_list a {
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
  margin: 0.1rem;
}

.nav_left a li {
  transition: transform 0.2s ease-in-out;
  white-space: nowrap;
}

.nav_list a:hover > * {
  transform: scale(1.25);
}

.nav_list a:hover {
  background-color: var(--primary-regular);
}

.nav_right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_right img {
  max-height: 2vh;
  margin-left: 1rem;
}

/* ------------- NAVBAR -------------  */

.landing_home {
  width: 100%;
  min-height: 100vh;
  padding: 0 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.landing_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
}

.landing_logo {
  width: 80%;
}

.landing_left h2 {
  margin: 1rem 0 2rem 0;
  font-size: 2rem;
  font-weight: var(--font-thin);
  width: 70%;
  color: var(--primary-regular);
}

.landing_CTA {
  border: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  width: 60%;
  border-radius: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--primary-light);
}

.landing_right {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
}

.landing_right img {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}

.usluge {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--primary-light);
  padding: 5% 0% 0% 0%;
}

.mainTitle {
  margin: 0 15% 2rem 15%;
  font-size: 3rem;
  font-weight: var(--font-bold);
  color: var(--primary-color);
  text-transform: uppercase;
}

.usluga_savetovanje {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0% 15% 2% 15%;
  margin-bottom: 5%;
}

.usluge h2 {
  font-size: 1.8rem;
  font-weight: var(--font-regular);
  color: var(--primary-dark);
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.savetovanje_left {
  padding: 0 5% 0 0;
}

.usluge_list li {
  line-height: 1.5;
  font-size: 1.1rem;
  color: var(--primary-regular);
  list-style: inside;
  padding: 0.2rem;
  font-weight: var(--font-thin);
}

.savetovanje_right {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
  max-height: min-content;
  max-height: 60vh;
  border-radius: 2rem;
  box-shadow: var(--usluge_box_shadow);
}

.savetovanje_right img {
  object-fit: cover;
  width: 100%;
}

.usluga_mena {
  background-color: #fff;
  padding: 2% 15%;
}

.usluga_poreska {
  background-color: var(--primary-light);
  padding: 2% 15%;
  position: relative;
}

.usluga_poreska img {
  position: absolute;
  right: 15%;
  top: -75%;
  width: 25%;
  border-radius: 2rem;
  box-shadow: var(--usluge_box_shadow);
  object-fit: cover;
}

.usluga_makro {
  padding: 2% 15%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.usluga_makro > * {
  width: 60%;
}

.usluga_zdravlje {
  padding: 2% 15%;
  background-color: var(--primary-light);
  display: flex;
  flex-direction: column;
  position: relative;
}

.usluga_zdravlje > * {
  width: 60%;
}

.usluga_zdravlje img {
  position: absolute;
  right: 15%;
  top: -50%;
  width: 25%;
  height: 125%;
  transform: translateY(-10%);
  border-radius: 2rem;
  box-shadow: var(--usluge_box_shadow);
  object-fit: cover;
}
/* ------------- Landing Informacije -------------  */

.landing_info {
  padding: 5% 15%;
}

.info_savetnik {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 5% 0;
}

.info_savetnik img,
.info_trziste img {
  width: 100%;
  padding: 0 15% 0 0;
}

.info_text {
  color: var(--primary-regular);
  font-weight: var(--font-regular);
  font-size: 1.5rem;
}

.info_godine {
  display: flex;
  padding: 5% 0;
  position: relative;
}

.info_godine .info_text {
  width: 85%;
}

.info_trziste {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 5% 0;
}

/* ------------- FOOTER -------------  */

footer {
  display: flex;
  flex-direction: column;
  padding: 2% 15%;
}

.main_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1%;
  position: relative;
}

.main_footer::before {
  content: '';
  width: 100%;
  height: 0.1rem;
  background-color: var(--primary-color);
  position: absolute;
  top: 2%;
  border-radius: 2rem;
}
.footer_left {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  text-transform: uppercase;
}

.footer_left li {
  padding: 1rem 1rem 1rem 0;
}

.footer_left a {
  font-weight: var(--font-bold);
  color: var(--primary-dark);
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.footer_left a:hover {
  transform: translateY(-0.2rem);
}

.footer_right {
  color: var(--primary-color);
  font-weight: var(--font-regular);
}

.footer_kontakt {
  list-style: none;
}

.footer_kontakt li {
  font-size: 1.2rem;
  color: var(--primary-regular);
}

.footer_kontakt li::before {
  content: '';
  display: inline-block;
  height: 1em;
  width: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.5em;
}

.kontakt_email::before {
  background-image: url(./media/awesome_Envelope.svg);
}

.kontakt_broj::before {
  background-image: url(./media/awesome_Phone.svg);
}

.kontakt_adresa::before {
  background-image: url(./media/awesome_Map.svg);
}

.container {
  width: 70%;
  background-color: red;
  height: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.container_left {
  width: 50%;
  background-color: blue;
}

.container_right {
  width: 50%;
  background-color: orange;
}

/* ------------- TEMP TABLE -------------  */
table,
th,
td {
  border: 1px solid black;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.2rem;
}

table {
  border-collapse: collapse;
}

.tmpTable {
  width: 70%;
  margin: 5% auto;
}

/* ------------- Nas tim styles -------------  */
.timTitle {
  margin: 2% 15% 2% 15%;
}

.timBox {
  margin: 2% 15% 5% 15%;
  background-color: #fafafa;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2%;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 0 0.2rem var(--primary-color);
}

.timLeft {
  display: flex;
  flex-direction: column;
}

.timImg {
  aspect-ratio: 1.5/2;
  object-fit: cover;
  border-radius: 1rem;
  margin: 0 5% 1rem 0;
  position: relative;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
}

.timIme {
  font-size: 1.5rem;
  color: var(--primary-darkest);
  font-weight: var(--font-bold);
  margin: 0 0 0.5rem 0;
}

.timPozicija {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: var(--font-regular);
}

.timEmail {
  font-weight: var(--font-regular);
  width: max-content;
}

.timInfo {
  font-size: 1.2rem;
  color: var(--primary-regular);
  font-weight: var(--font-regular);
  line-height: 1.5;
  white-space: wrap;
  word-wrap: break-word;
}

/* ------------- Reference styles -------------  */
.referenceTitle {
  margin: 2% 15% 2% 15%;
}

.listOpcije {
  margin: 2% 15%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  width: 50%;
}

.listOpcije button {
  padding: 0.6rem;
  border: none;
  background-color: var(--primary-light);
  border-radius: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: var(--font-bold);
  transition: background-color 0.1s ease-in-out;
  font-size: 0.8rem;
}

.listOpcije button:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.listaReferenca {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 1rem;
  margin: 0 15%;
  overflow: hidden;
}
